<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Product</th>
      <th>sum(Total Sales)</th>
      <th>Current</th>
      <th>1-30 Days</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Wired Headphones</td>
      <td>13165.02</td>
      <td>6582.510</td>
      <td>6582.510</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Macbook Pro Laptop</td>
      <td>443700.00</td>
      <td>221850.000</td>
      <td>221850.000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Apple Airpods Headphones</td>
      <td>124500.00</td>
      <td>62250.000</td>
      <td>62250.000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>iPhone</td>
      <td>263900.00</td>
      <td>131950.000</td>
      <td>131950.000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Lightning Charging Cable</td>
      <td>18328.70</td>
      <td>9164.350</td>
      <td>9164.350</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Bose SoundSport Headphones</td>
      <td>72192.78</td>
      <td>36096.390</td>
      <td>36096.390</td>
    </tr>
    <tr>
      <th>6</th>
      <td>USB-C Charging Cable</td>
      <td>14877.75</td>
      <td>7438.875</td>
      <td>7438.875</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AAA Batteries (4-pack)</td>
      <td>5151.77</td>
      <td>2575.885</td>
      <td>2575.885</td>
    </tr>
    <tr>
      <th>8</th>
      <td>20in Monitor</td>
      <td>23537.86</td>
      <td>11768.930</td>
      <td>11768.930</td>
    </tr>
    <tr>
      <th>9</th>
      <td>27in FHD Monitor</td>
      <td>61045.93</td>
      <td>30522.965</td>
      <td>30522.965</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Vareebadd Phone</td>
      <td>43200.00</td>
      <td>21600.000</td>
      <td>21600.000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>34in Ultrawide Monitor</td>
      <td>134896.45</td>
      <td>67448.225</td>
      <td>67448.225</td>
    </tr>
    <tr>
      <th>12</th>
      <td>LG Dryer</td>
      <td>27000.00</td>
      <td>13500.000</td>
      <td>13500.000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>AA Batteries (4-pack)</td>
      <td>5694.72</td>
      <td>2847.360</td>
      <td>2847.360</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Google Phone</td>
      <td>196200.00</td>
      <td>98100.000</td>
      <td>98100.000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Flatscreen TV</td>
      <td>72000.00</td>
      <td>36000.000</td>
      <td>36000.000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>LG Washing Machine</td>
      <td>27600.00</td>
      <td>13800.000</td>
      <td>13800.000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>27in 4K Gaming Monitor</td>
      <td>125966.77</td>
      <td>62983.385</td>
      <td>62983.385</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ThinkPad Laptop</td>
      <td>224997.75</td>
      <td>112498.875</td>
      <td>112498.875</td>
    </tr>
  </tbody>
</table>